@import './variable.scss';


$colors: (
  'red': $red,
  'green': $green,
  'blue': $blue,
  'orange': $orange,
  'grey': $grey,
  'white': #FFF,
);

@each $key, $val in $colors {
  .color-#{$key} {
    color: #{$val};
  }
  .bg-#{$key} {
    background-color: #{$val};
  }
}

// 字号
@each $v in 12, 15, 16, 18, 20, 30 {
  .size#{$v} {
    font-size: #{$v}px;
  }
}

// margin和padding
@each $v in 0, 5, 10, 15, 20, 30, 60 {
  .m#{$v} {
    margin: #{$v}px;
  }
  .mt#{$v} {
    margin-top: #{$v}px;
  }
  .mr#{$v} {
    margin-right: #{$v}px;
  }
  .mb#{$v} {
    margin-bottom: #{$v}px;
  }
  .ml#{$v} {
    margin-left: #{$v}px;
  }
  .p#{$v} {
    padding: #{$v}px;
  }
  .pt#{$v} {
    padding-top: #{$v}px;
  }
  .pr#{$v} {
    padding-right: #{$v}px;
  }
  .pb#{$v} {
    padding-bottom: #{$v}px;
  }
  .pl#{$v} {
    padding-left: #{$v}px;
  }
}